<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <div class="container-fluid error-container">
        <div class="error-main">
            <figure>
                <img src="images/404.webp" alt="error" class="img-fluid">
            </figure>
            <p>Welcome to weather app</p>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button class="btn btn-primary">GO Back</button></a>
        </div>
    </div>
</body>

</html>