<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <!-- header section start -->
      {{>navbar}}
    <!-- header section end -->

    <!-- about section start -->
    <section class="container-fluid" id="about">
        <div class="heading text-center">
            <h1><span>about</span> us</h1>
        </div>

        <div class="row">
            <div class="col-6 aboutcontent ">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel modi impedit corporis iure nobis
                    exercitationem tenetur, quae eaque nemo ullam provident non, culpa sint quidem!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae, quaerat. Deleniti eveniet facilis
                    ipsam quam.</p>
                <a href="/"><button class="btnStarted">learn more</button></a>
            </div>
            <div class="col-6 aboutimage">
                <img src="../images/chef.png" alt="chef">
            </div>
        </div>
    </section>
    <!-- about section end -->
    <script src="js/main.js"></script>
</body>

</html>