<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <!-- header section start -->
      {{>navbar}}
    <!-- header section end -->

    <!-- contact section start -->
    <section class="container-fluid" id="contact">
        <div class="heading text-center">
            <h1><span>contact</span> us</h1>
        </div>

        <div class="row justify-content-center">
            <form action="" class="col-7">
                <div class="inputBox">
                    <input type="text" required>
                    <h3>full name</h3>
                </div>

                <div class="inputBox">
                    <input type="email" required>
                    <h3>e-mail</h3>
                </div>

                <div class="inputBox">
                    <textarea name="" id="" cols="30" rows="10" required></textarea>
                    <h3>message</h3>
                </div>

                <input type="submit" value="send" class="btnStarted">
            </form>
        </div>
    </section>
    <!-- contact section end -->

    <!-- footer section start -->
    <section class="container-fluid" id="footer">

        <div class="row align-items-center">

            <div class="col-md-4 brand">
                <a href="/" class="logo"><img src="../images/logo.png" alt="logo"></a>

                <div class="icons">
                    <a href="/" class="fab fa-facebook-square"></a>
                    <a href="/" class="fab fa-twitter-square"></a>
                    <a href="/" class="fab fa-instagram-square"></a>
                    <a href="/" class="fab fa-pinterest-square"></a>
                </div>
            </div>

            <div class="col-md-4 footer-content">
                <h3>links:</h3>
                <a href="/">home</a>
                <a href="/special">special</a>
                <a href="/about">about</a>
                <a href="/dishes">dishes</a>
                <a href="/contact">contact</a>
            </div>

            <div class="col-md-4 footer-content">
                <h3>Created by:</h3>
                <br>
                <a href="https://github.com/Syed-Jameel" target="_blank">Syed Jameel Akhter</a>
            </div>
        </div>
    </section>
    <!-- footer section end -->
    <script src="js/main.js"></script>
</body>

</html>