<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <!-- header section start -->
       {{>navbar}}
    <!-- header section end -->

    <!-- dishes section start -->
    <section class="container-fluid" id="dishes">
        <div class="heading text-center">
            <h1>our <span>dishes</span></h1>
        </div>
        <div class="box-container">
            <div class="box">
                <img src="../images/dish6.jpeg" alt="">
                <div class="info">
                    <h3>dish1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
            <div class="box">
                <img src="../images/dish1.jpeg" alt="">
                <div class="info">
                    <h3>dish2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
            <div class="box">
                <img src="../images/dish2.jpeg" alt="">
                <div class="info">
                    <h3>dish3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
            <div class="box">
                <img src="../images/dish3.webp" alt="">
                <div class="info">
                    <h3>dish4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
            <div class="box">
                <img src="../images/dish4.webp" alt="">
                <div class="info">
                    <h3>dish5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
            <div class="box">
                <img src="../images/dish5.jpeg" alt="">
                <div class="info">
                    <h3>dish6</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, saepe.</p>
                    <a href="/"><button class="btnStarted">view</button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- dishes section end -->

    <script src="js/main.js"></script>
</body>

</html>