<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <!-- header section start -->
       {{>navbar}}
    <!-- header section end -->

    <!-- home section start -->
    <section class="container-fluid" id="home">
        <div class="content">
            <h1>food that you can't resist</h1>
            <h2>enjoy the marvelous taste</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vel quisquam nostrum cum minima nobis
                consequatur alias eius omnis dolorem.</p>
            <a href="/special"><button class="btnStarted">get started</button></a>
        </div>

        <div class="video-container">
            <video src="../images/video1.mp4" type="video/mp4" class="vid vid1" width="1000" height="600" autoplay muted
                loop></video>
            <video src="../images/video2.mp4" type="video/mp4" class="vid vid2" width="1000" height="600" autoplay muted
                loop></video>
            <video src="../images/video3.mp4" type="video/mp4" class="vid vid3" width="1000" height="600" autoplay muted
                loop></video>
        </div>

        <div class="controls">
            <div class="dots dot1"></div>
            <div class="dots dot2"></div>
            <div class="dots dot3"></div>
        </div>

    </section>
    <!-- home section end -->

    <script src="js/main.js"></script>
</body>

</html>