<!DOCTYPE html>
<html lang="en">

{{>headlinks}}

<body>
    <!-- header section start -->
    {{>navbar}}
    <!-- header section end -->

    <!-- special section start -->
    <section class="container-fluid" id="special">
        <div class="heading text-center">
            <h1>our <span>special</span></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, atque.</p>
        </div>

        <div class="card-container">

            <div class="card">
                <img src="../images/card1.jpeg" alt="card1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque eum nam, officia porro dicta
                    molestiae! Veniam, nemo aliquid. Repellat, iste.</p>
                <a href="/"><button class="btnMore">read more</button></a>
            </div>

            <div class="card">
                <img src="../images/card2.jpeg" alt="card2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque eum nam, officia porro dicta
                    molestiae! Veniam, nemo aliquid. Repellat, iste.</p>
                <a href="/"><button class="btnMore">read more</button></a>
            </div>

            <div class="card">
                <img src="../images/card3.jpeg" alt="card3">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque eum nam, officia porro dicta
                    molestiae! Veniam, nemo aliquid. Repellat, iste.</p>
                <a href="/"><button class="btnMore">read more</button></a>
            </div>

        </div>
    </section>
    <!-- special card section end -->

    <script src="js/main.js"></script>
</body>

</html>