<header id="header">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/special">special</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/dishes">dishes</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>

        <div id="hamburger" class="fa-solid fa-burger"></div>

        <a href="/" class="logo"> <img src="../images/logo.png" alt="logo"></a>
    </header>